.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 230px;
  width: 310px;
  padding: 10px;
  border-radius: 20px;
}
